.container {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: flex;
  height: 100%;
}

.panel {
  flex: 1 0 auto;
  max-width: 300px;
  height: 100%;
  overflow-y: auto;
  position: relative;
  color: var(--panel-color);
  background-color: var(--panel-background);
}

.exampleList {
  padding: 0;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.exampleList h3 {
  color: var(--panel-emphasis);
}

code {
  background-color: var(--code-background);
  border: 2px solid var(--code-background);
  border-radius: 0.25em;
}

.exampleList li {
  list-style: none;
  padding: 0.3em 0;
}

.expand {
  display: none;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 36px;
  height: 36px;
  background-image: url(../menu.svg);
  background-size: cover;
}

.panel .panelContents {
  display: block;
  transition: max-height 0s;
  max-height: 100vh;
}

#menuToggle {
  display: none;
}

main {
  overflow: auto;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  main {
    overflow: visible;
  }

  #menuToggle ~ .panelContents {
    max-height: 0;
    overflow: hidden;
  }

  #menuToggle:checked ~ .panelContents {
    max-height: 2000px;
  }

  .panel .panelContents {
    display: block;
    transition: max-height 0.3s ease-out;
  }

  .panel {
    flex: 0 0 fit-content;
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  .expand {
    display: inline-block;
  }

}

