#sample {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.sampleContainer {
  text-align: center;
  width: 100%;
}
.sampleContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  /* should should remain white because samples in iframes expect a white background */
  color-scheme: light;
  background-color: #fff;
}

.sampleCategory {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  position: relative;
}

[data-tooltip] {
  cursor: pointer;
}

[data-tooltip]::after {
  pointer-events: none;
  content: attr(data-tooltip);
  background-color: var(--tooltip-background);
  box-shadow: 0 0 2px 2px var(--tooltip-border);
  border-radius: 10px;
  transition: opacity 0.2s ease-in, transform 0.2s ease-out;
  padding: 0.5em;
  opacity: 0;
  display: block;
  position: absolute;
  transform: translateY(-0.5em);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateY(0.25em);
}

nav.sourceFileNav {
  display: flex;
  align-items: flex-start;
}

nav.sourceFileNav ul {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  position: relative;
}

nav.sourceFileNav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

nav.sourceFileNav::before {
  content: '';
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30px;
  height: 37px;
  top: 15px;
  left: 0px;
  pointer-events: none;
}

nav.sourceFileNav[data-left=true]::before {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.35), transparent);
}

nav.sourceFileNav::after {
  content: '';
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 37px;
  top: 15px;
  right: 0px;
  pointer-events: none;
}

nav.sourceFileNav[data-right=true]::after {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0.35), transparent);
}

.sourceLR {
  display: none;
  cursor: pointer;
  width: 5em;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
  color: var(--source-tab-color);
  background-color: var(--source-tab-background);
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.sourceLR:hover {
  text-decoration: underline;
}
.sourceLRShow .sourceLR {
  display: block;
}

nav.sourceFileNav div.sourceFileScrollContainer {
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: thin;
}

nav.sourceFileNav div.sourceFileScrollContainer::-webkit-scrollbar {
  display: inline;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 11px;
  width: 10px;
}

nav.sourceFileNav div.sourceFileScrollContainer::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  height: 4px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0px 0px 10px rgb(45, 33, 33);
  border: 0.5px solid transparent;
  background-clip: content-box;
}

nav.sourceFileNav div.sourceFileScrollContainer::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

nav.sourceFileNav li a {
  display: block;
  margin: 0;
  padding: 10px;
  color: var(--source-tab-color);
  background-color: var(--source-tab-background);
  border-right: 1px solid rgba(0, 0, 0, 0.5);
}

nav.sourceFileNav li:hover {
  height: 100%;
  box-shadow: 0 -10px 0 0 rgb(167, 167, 167);
  border-radius: 10px
}

nav.sourceFileNav li a[data-active=true] {
  background-color: var(--source-tab-active-background);
}

nav.sourceFileNav li:has(a[data-active=true]) {
  box-shadow: 0 -10px 0 0 var(--source-tab-active-shadow);
  border-radius: 10px;
}

.sourceFileContainer {
  overflow: hidden;
  height: 0;
}

.sourceFileContainer[data-active=true] {
  height: auto;
}

.sourceFileContainer :global(.CodeMirror) {
  margin-top: 0;
}