.container {
  padding-left: 15px;
  padding-right: 15px;
}

.wrapper {
  display: flex;
}

.panel {
  position: relative;
  left: 0px;
  flex: 1;
  max-width: 300px;
  height: 100vh;
  overflow: auto;
  background: #fafafa;
}

.exampleList {
  padding: 0;
  margin-block-start: 16px;
  margin-block-end: 16px;
}

.exampleList h3 {
  color: rgb(43, 126, 171);
}

.exampleList li {
  list-style: none;
  padding: 0.3em 0;
}

.expand {
  display: none;
  float: right;
  width: 36px;
  height: 36px;
  margin-top: -0.25em;
  background-image: url(../../public/menu.svg);
  background-size: cover;
}

.panel .panelContents {
  display: block;
  transition: max-height 0s;
  max-height: 100vh;
}

@media only screen and (max-width: 768px) {
  /* More padding on mobile for easier touch screen use */
  .exampleLink {
    padding: 0.5em 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .panel {
    max-width: 100%;
    height: auto;
  }

  .panel .panelContents {
    display: block;
    transition: max-height 0.3s ease-out;
    max-height: 0px;
  }

  .panel[data-expanded='false'] {
    overflow: hidden;
  }

  .panel[data-expanded='false'] .panelContents {
    max-height: 0vh;
    overflow: hidden;
  }

  .panel[data-expanded='true'] .panelContents {
    max-height: 100vh;
  }

  .expand {
    display: inline-block;
  }
}

