* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #045b88;
}

a:hover {
  text-decoration: underline;
}

h3 {
  margin-bottom: 0px;
  margin-top: 0px;
}

main {
  position: relative;
  flex: 1;
  height: 100vh;
  overflow: auto;
  background: black;
  color: #ddd;
  padding-left: 15px;
  padding-right: 15px;
}
