.canvasContainer {
  text-align: center;
  position: relative;
  margin-top: 10px;
}

.canvasContainer>canvas {
  width: 100%;
  aspect-ratio: 1;
  max-width: 600px;
}

nav.sourceFileNav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 15px;
}

nav.sourceFileNav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

nav.sourceFileNav li a {
  display: block;
  margin: 0;
  padding: 10px;
  color: white;
  background-color: #403e3e;
}

nav.sourceFileNav li a[data-active=true] {
  background-color: #282823;
}

.sourceFileContainer {
  overflow: hidden;
  height: 0;
}

.sourceFileContainer[data-active=true] {
  height: auto;
}

.sourceFileContainer :global(.CodeMirror) {
  margin-top: 0;
}
