.sampleCategory {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.sampleCategoryDescription {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  transition: opacity 0.3s ease-in, transform 0.2s ease-out
}

.sampleCategoryDescription[data-active='true'] {
  opacity: 1;
  transform: translateY(-0.5em);
}

.sampleCategoryDescription[data-active='false'] {
  opacity: 0;
  pointer-events: none;
  transform: translateY(0.25em);
}

li.selected a {
  color: #ff0000;
}